@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100&family=Quicksand:wght@500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 90%;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eef7ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.gradasi-button {
  background: linear-gradient(
    90.22deg,
    #5ab0b6 0.11%,
    #65ccd2 54.75%,
    rgba(97, 193, 199, 0.67) 99.81%
  );
}
.clip-path {
  clip-path: circle(40%);
}
.box-card {
  background: #ffffff;
  box-shadow: 0px 9px 15px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}
.card-post-gradient {
  background: linear-gradient(
    90.22deg,
    #5ab0b6 0.11%,
    #65ccd2 54.75%,
    rgba(97, 193, 199, 0.67) 99.81%
  );
}
.follow-gradient {
  background: linear-gradient(
    90.91deg,
    #2b79c0 0.55%,
    #50b2d1 0.55%,
    rgba(71, 161, 201, 0.76) 38.08%,
    #65ccd2 99.22%
  );
}

.gradasi-button {
  background: linear-gradient(
    90.22deg,
    #5ab0b6 0.11%,
    #65ccd2 54.75%,
    rgba(97, 193, 199, 0.67) 99.81%
  );
}

